@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.wrapper{
    display: flex;
}

#sidebar{
    background: #0ABAB5;
    flex: 1;
    color: #ffffff;
    margin: 0 0 5px;
    padding: 20px 20px;
    font-family: 'Open Sans', sans-serif;
}

#content{
    flex: 6;
}

#right_side_bar{
    background: #D3D3D3;
    flex: 1;
}

