{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div align="center">
        <h1>{% trans 'Variant:' %} {{ variant.name }}</h1>
        <form action="{% url 'add_questions_url' %}" method="post" enctype="multipart/form-data" onkeydown="return event.key != 'Enter';">
            {% csrf_token %}

            <input type="hidden" id="variant" name="variant" value="{{ variant.pk }}">

            <input type="hidden" id="answers_count" name="answers_count">

            <label for="question_number">{% trans 'Input Number:' %}</label>
            <input type="number" id="question_number" name="question_number" min="1" max="50" style="width: 2.5%" required>
            <br>

            <label for="question_points">{% trans 'Input Points:' %}</label>
            <select id="question_points" name="question_points">
                {% for point in points %}
                    <option style="width: auto;" value="{{ point }}">{{ point }}</option>
                {% endfor %}
            </select>
            <br>

            <label for="subject">{% trans 'Select Subjects:' %}</label>
            <select id="subject" name="subject">
                {% for subject in subjects %}
                    {% if subject.id == selected_subject %}
                        <option style="width: auto;" value="{{ subject.id }}" selected>{{ subject.name }}</option>
                    {% else %}
                        <option style="width: auto;" value="{{ subject.id }}">{{ subject.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>

            <label for="question_text">{% trans 'Question Text:' %}</label>
            <br>
            <textarea rows="4" id="question_text" name="question_text" style="width: 50%"></textarea>
            <br>

            <label for="question_image">{% trans 'Question Image:' %}</label>
            <input type="file" id="question_image" name="question_image">
            <br>
            <hr>
            <div id="answers_div">

            </div>
            <br>
            <button class="btn" type="button" onclick="addNewAnswer()">{% trans 'Add New Answer' %}</button>
            <br>
            <hr>
            <input class="btn" type="submit" value="{% trans 'Create Question' %}" style="font-size: 200%">
        </form>
    </div>
    <script>
        var i = 1;

        window.onload = (event) => {
            document.getElementById('question_number').value = '{{ question_number }}';
            var main_div = document.getElementById('answers_div');
            for (i = 1; i < 6; i++) {
                var div = document.createElement('div');

                div.style.borderRadius = "10px";
                div.style.display = "inline-block";
                div.style.minWidth = "100%";
                div.style.marginBottom = "10px";
                div.style.fontSize = '18px';

                var label = document.createElement('label');
                label.innerHTML = "{% trans 'Answer Text' %} " + i + ': ';
                label.htmlFor = 'answer_text_' + i;
                div.appendChild(label);

                var input = document.createElement('textarea');
                input.rows = 1;
                input.style.marginTop = '15px';
                input.id = 'answer_text_' + i;
                input.name = 'answer_text_' + i;
                input.style.width = '75%';
                div.appendChild(input);

                div.appendChild(document.createElement('br'));

                var label = document.createElement('label');
                label.innerHTML = "{% trans 'Answer Image' %} " + i + ': ';
                label.htmlFor = 'answer_image_' + i;
                div.appendChild(label);

                var input = document.createElement('input');
                input.type = 'file';
                input.id = 'answer_image_' + i;
                input.name = 'answer_image_' + i;
                div.appendChild(input);

                div.appendChild(document.createElement('br'));

                var label = document.createElement('label');
                label.innerHTML = "{% trans 'is_correct:' %} ";
                label.htmlFor = 'is_correct_answer_' + i;
                div.appendChild(label);

                var input = document.createElement('input');
                input.type = 'checkbox';
                input.id = 'is_correct_answer_' + i;
                input.name = 'is_correct_answer_' + i;
                div.style.background = '#DCDCDC';
                div.appendChild(input);

                div.appendChild(document.createElement('br'));

                main_div.appendChild(document.createElement('br'));
                main_div.appendChild(div);
            }

            document.getElementById('answers_count').value = i;
        };

        function addNewAnswer() {
            var main_div = document.getElementById('answers_div');

            var div = document.createElement('div');
            div.style.borderRadius = "10px";
            div.style.display = "inline-block";
            div.style.minWidth = "100%";
            div.style.marginBottom = "10px";
            div.style.fontSize = '18px';
            div.style.background = '#DCDCDC';

            var label = document.createElement('label');
            label.innerHTML = "{% trans 'Answer Text' %} " + i + ': ';
            label.htmlFor = 'answer_text' + i;
            div.appendChild(label);

            var input = document.createElement('textarea');
            input.rows = 1;
            input.style.marginTop = '15px';
            input.id = 'answer_text_' + i;
            input.name = 'answer_text_' + i;
            input.style.width = '75%';
            div.appendChild(input);

            div.appendChild(document.createElement('br'));

            var label = document.createElement('label');
            label.innerHTML = "{% trans 'Answer Image' %} " + i + ': ';
            label.htmlFor = 'answer_image_' + i;
            div.appendChild(label);

            var input = document.createElement('input');
            input.type = 'file';
            input.id = 'answer_image_' + i;
            input.name = 'answer_image_' + i;
            div.appendChild(input);

            div.appendChild(document.createElement('br'));

            var label = document.createElement('label');
            label.innerHTML = "{% trans 'is_correct:' %} ";
            label.htmlFor = 'is_correct_answer_' + i;
            div.appendChild(label);

            var input = document.createElement('input');
            input.type = 'checkbox';
            input.id = 'is_correct_answer_' + i;
            input.name = 'is_correct_answer_' + i;
            div.appendChild(input);

            div.appendChild(document.createElement('br'));

            main_div.appendChild(document.createElement('br'));
            main_div.appendChild(div);

            i++;
            document.getElementById('answers_count').value = i;
        }
    </script>
{% endblock content %}