{% extends 'base.html' %}
{% block content %}
    <form action="{% url 'add_questions_init_url' %}" method="post">
        {% csrf_token %}
        <label style="font-size: 20px;" for="variant">Select Existing Variant:</label>
        <select id="variant" name="variant">
            {% for variant in variants %}
                <option style="font-size: 20px;" value="{{ variant.pk }}">{{ variant.name }}</option>
            {% endfor %}
        </select>
        <input class="btn" type="submit" value="Select Variant">
    </form>
    <br>
    <button class="btn" onclick="location.href='{% url 'add_variant_url' %}'">Create New</button>
{% endblock content %}