{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
    <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <div align="center" id="add_container">
        <h1>{% trans 'Variant:' %} {{ variant.name }}</h1>
        <form action="{% url 'add_questions_url' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="hidden" id="variant" name="variant" value="{{ variant.pk }}">

            <input type="hidden" id="answers_count" name="answers_count">

            <label for="question_number">{% trans 'Input Number:' %}</label>
            <input type="number" id="question_number" name="question_number" value="{{ question_number }}" min="1" max="50" style="width: 2.5%" required>
            <br>

            <label for="question_points">{% trans 'Input Points:' %}</label>
            <select id="question_points" name="question_points">
                {% for point in points %}
                    <option style="width: auto;" value="{{ point }}">{{ point }}</option>
                {% endfor %}
            </select>
            <br>

            <label for="subject">{% trans 'Select Subjects:' %}</label>
            <select id="subject" name="subject">
                {% for subject in subjects %}
                    {% if subject.id == selected_subject %}
                        <option style="width: auto;" value="{{ subject.id }}" selected>{{ subject.name }}</option>
                    {% else %}
                        <option style="width: auto;" value="{{ subject.id }}">{{ subject.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>

            <label for="question_editor">{% trans 'Question Text:' %}</label>
            <br>
            <div data-tiny-editor id="question_editor" style="width:100%;">

            </div>
            <br>

            <input type="hidden" id="question_text" name="question_text">

            <label for="question_image">{% trans 'Question Image:' %}</label>
            <input type="file" id="question_image" name="question_image">
            <br>
            <hr>
            <div id="answers_div">

            </div>
            <br>
            <button class="btn" type="button" onclick="addNewAnswer()">{% trans 'Add New Answer' %}</button>
            <br>
            <hr>
            <input class="btn" id="submit" type="submit" onclick="addText()" value="{% trans 'Preview' %}" style="font-size: 200%">
        </form>
    </div>
    <script>
        var i = 1;

        function addText() {
            document.getElementById('question_text').value = document.getElementById('question_editor').innerHTML;
            var editors = document.querySelectorAll('[id*="answer_text"]');
            var inputs = document.getElementsByClassName('answer_input');
            for (var i = 0; i < editors.length; i++) {
                inputs[i].value = editors[i].innerHTML;
            }
        }

        window.onload = (event) => {
            document.getElementById('question_number').value = '{{ question_number }}';
            document.getElementById('answers_count').value = i;
        };

        function addNewAnswer() {
            var main_div = document.getElementById('answers_div');

            document.getElementById('submit').disabled = false;
            var question_editor = document.getElementById('question_editor');

            var div = document.createElement('div');
            div.style.borderRadius = "10px";
            div.style.display = "inline-block";
            div.style.width = "100%";
            div.style.marginBottom = "10px";
            div.style.fontSize = '18px';
            div.style.background = '#DCDCDC';
            div.classList.add('answer_div');

            var label = document.createElement('label');
            label.innerHTML = "{% trans 'Answer Text' %} " + i + ': ';
            label.htmlFor = 'answer_text_' + i;
            div.appendChild(label);

            var editor = document.createElement('div');
            editor.setAttribute('data-tiny-editor', '');
            editor.classList.add('answer_editor');
            editor.id = 'answer_text_' + i;
            editor.name = 'answer_text_' + i;
            editor.style.width = '100%';
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'answer_text_' + i;
            input.classList.add('answer_input');
            div.appendChild(input);
            div.appendChild(editor);

            for (var toolbar of document.getElementsByClassName('__toolbar')) {
                toolbar.remove();
            };

            for (var bundle of document.getElementsByClassName('bundle')) {
                bundle.remove();
            };

            var body = document.getElementsByTagName('body')[0];
            var script = document.createElement('script');
            script.classList.add('bundle');
            script.src = "{% static 'js/bundle.js' %}";
            body.appendChild(script);

            div.appendChild(document.createElement('br'));

            var label = document.createElement('label');
            label.innerHTML = "{% trans 'Answer Image' %} " + i + ': ';
            label.htmlFor = 'answer_image_' + i;
            div.appendChild(label);

            var input = document.createElement('input');
            input.type = 'file';
            input.id = 'answer_image_' + i;
            input.name = 'answer_image_' + i;
            div.appendChild(input);

            div.appendChild(document.createElement('br'));

            var label = document.createElement('label');
            label.innerHTML = "{% trans 'is_correct:' %} ";
            label.htmlFor = 'is_correct_answer_' + i;
            div.appendChild(label);

            var input = document.createElement('input');
            input.type = 'checkbox';
            input.id = 'is_correct_answer_' + i;
            input.name = 'is_correct_answer_' + i;
            div.appendChild(input);

            div.appendChild(document.createElement('br'));

            main_div.appendChild(document.createElement('br'));
            main_div.appendChild(div);

            i++;
            document.getElementById('answers_count').value = i;

            for (var answer_div of document.getElementsByClassName('answer_div')) {
                for (var toolbar of answer_div.getElementsByClassName('__toolbar')) {
                    toolbar.remove();
                }
            }
        }
    </script>
{% endblock content %}