<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dana-edu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?{% now 'U' %}">
</head>
<body>
    <div class="wrapper">
        <div id="sidebar">
            <a href="{% url 'home_url' %}">
                <img id="sidebar_logo" src="{% static 'images/sidebar-logo.png' %}">
            </a>
            <ul>
            {% for url in urls %}
                <li><a class="nav-link" href="{% url url.url %}">{{ url.text }}</a></li>
            {% endfor %}
            </ul>
            {% get_current_language as CURRENT_LANGUAGE %}
            {% get_available_languages as AVAILABLE_LANGUAGES %}
            {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
            <div class="bottom" id="bottom">
                <div class="languages">
                    {% for language in languages %}
                        {% if language.code == CURRENT_LANGUAGE %}
                            <a href="/{{ language.code }}/" class="active language_link">
                                {% if language.code == 'kk' %}
                                    kz
                                {% else %}
                                    {{ language.code }}
                                {% endif %}
                            </a>
                        {% else %}
                            <a href="/{{ language.code }}/" class="language_link">
                                {% if language.code == 'kk' %}
                                    kz
                                {% else %}
                                    {{ language.code }}
                                {% endif %}
                            </a>
                        {% endif %}
                        <br>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="content" class="content" align="center">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <script>
        window.onload = (event) => {
             var w = document.getElementById('sidebar').offsetWidth
            document.getElementById('bottom').setAttribute("style","width:"+w+"px");
        };
        document.querySelectorAll(".nav-link").forEach((link) => {
            if (link.href === window.location.href) {
                link.classList.add("active");
                link.setAttribute("aria-current", "page");
            }
        });
    </script>
</body>
</html>