{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div align="center">
        <h1>{{ message }}{{ variant.name }}</h1>
        {% if variant %}
            <form action="{% url 'get_subjects_url' %}" method="post">
                {% csrf_token %}
                {% if user.group.number == 11 %}
                    <p>Rules!</p>
                    <select id="subjects" name="subjects">
                        {% for subject in subjects %}
                            <option value="{{ subject.pk }}">{{ subject.first_subject.name }} - {{ subject.second_subject.name }}</option>
                        {% endfor %}
                    </select>
                    <input class="btn" type="submit" onclick="clicked()" value="{% trans 'Start Test' %}">
                {% elif user.group.number == 9 %}
                    <h3 align="justify" style="margin-left: 5%; margin-right: 5%; text-indent: 2em; margin-bottom: -5px;">{% trans 'The test will be conducted in three compulsory subjects. The number of test tasks is 75, of which reading literacy (Kazakh, Russian, English) for each language is 10, a total of 30 tasks; in mathematical literacy - 13, in science literacy (physics, chemistry, biology, geography) in each subject - 8, a total of 32 tasks with the choice of one correct answer. The maximum score is 75. The duration of the test is 150 minutes.' %}</h3>
                    <h3 align="justify" style="margin-left: 5%; margin-right: 5%; text-indent: 2em; margin-bottom: -5px;">{% trans 'The countdown timer starts automatically. After answering all questions, you should click on the "finish exam" button before the end of the allotted time to save your answers, otherwise, the test will be canceled. Also, you can not close the tab, switch between tabs, minimize the browser.' %}</h3>
                    <h3 align="justify" style="margin-left: 5%; margin-right: 5%; text-indent: 2em; margin-bottom: -5px;">{% trans 'During the exam, it is forbidden to: leave the office, talk, change seats, change the test version, use mobile phones, calculators and other means, take a screenshot.' %}</h3>
                    <h3 align="justify" style="margin-left: 5%; margin-right: 5%; text-indent: 2em; margin-bottom: -5px;">{% trans 'In case of violation of these rules, the test is cancelled.' %}</h3>
                    <h3 align="justify" style="margin-left: 5%; margin-right: 5%; text-indent: 2em;">{% trans 'You need to have a blue pen, a pencil, an eraser, a ruler, a white sheet of paper with you.' %}</h3>
                    <input class="btn" type="submit" value="{% trans 'Start Test' %}">
                {% elif user.group.number == 4 %}
                    <h3 align="justify" style="margin-left: 5%; margin-right: 5%; text-indent: 2em; margin-bottom: -5px;">{% trans 'The test will be conducted in three compulsory subjects. The number of test tasks is 30, of which 10 for reading literacy, 12 for mathematical literacy, 8 for science literacy with the choice of one correct answer. The maximum score is 30. The duration of the test is 75 minutes.' %}</h3>
                    <h3 align="justify" style="margin-left: 5%; margin-right: 5%; text-indent: 2em; margin-bottom: -5px;">{% trans 'The countdown timer starts automatically. After answering all questions, you should click on the "finish exam" button before the end of the allotted time to save your answers, otherwise, the test will be canceled. Also, you can not close the tab, switch between tabs, minimize the browser.' %}</h3>
                    <h3 align="justify" style="margin-left: 5%; margin-right: 5%; text-indent: 2em; margin-bottom: -5px;">{% trans 'During the exam, it is forbidden to: leave the office, talk, change seats, change the test version, use mobile phones, calculators and other means, take a screenshot.' %}</h3>
                    <h3 align="justify" style="margin-left: 5%; margin-right: 5%; text-indent: 2em; margin-bottom: -5px;">{% trans 'In case of violation of these rules, the test is cancelled.' %}</h3>
                    <h3 align="justify" style="margin-left: 5%; margin-right: 5%; text-indent: 2em;">{% trans 'You need to have a blue pen, a pencil, an eraser, a ruler, a white sheet of paper with you.' %}</h3>
                    <input class="btn" type="submit" value="{% trans 'Start Test' %}">
                {% endif %}
            </form>
        {% endif %}
    </div>
    <script>
        function clicked() {
            var sel = document.getElementById('subjects');
            return confirm(sel.options[sel.selectedIndex].text);
        }
    </script>
{% endblock content %}