{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div align="center">
        <h1>{{ message }}{{ variant.name }}</h1>
        {% if variant %}
            <form action="{% url 'get_subjects_url' %}" method="post">
                {% csrf_token %}
                <select id="subjects" name="subjects">
                    {% for subject in subjects %}
                        <option value="{{ subject.pk }}">{{ subject.first_subject.name }} - {{ subject.second_subject.name }}</option>
                    {% endfor %}
                </select>
                <input class="btn" type="submit" onclick="clicked()" value="{% trans 'Start Test' %}">
            </form>
        {% endif %}
    </div>
    <script>
        function clicked() {
            var sel = document.getElementById('subjects');
            return confirm(sel.options[sel.selectedIndex].text);
        }
    </script>
{% endblock content %}