<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dana-edu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?{% now 'U' %}">
</head>
<body>
    <div class="wrapper">
        <div id="sidebar">
            <ul>
                {% for subject in subjects %}
                    <li>
                        <a class="nav-link" id="{{ subject.pk }}" onclick="getQuestions(this.id)">{{ subject.name }}</a>
                    </li>
                {% endfor %}

            </ul>
            <ul style="position: absolute; bottom: 0;">
                <li>
                    <a class="nav-link" href="{% url 'end_exam_url' %}" onclick="return confirm('Are you sure?')">End Exam</a>
                </li>
            </ul>
        </div>

        <div id="content" class="content" align="center">

        </div>

        <div id="right_side_bar">
            <div style="background: #ffffff; color: black; text-align: center; border-radius: 10px;">
                <p id="timer" style="font-size: 22px;"></p>
            </div>
            <div id="right_questions_bar">

            </div>
        </div>
    </div>
    <script>
        function sendAnswer(){
            var radios = document.getElementsByName('exam_answers');
            var selected_answers = [];
            for(var i = 0; i < radios.length; i++){
                if(radios[i].checked){
                    selected_answers.push(radios[i].value);
                }
            }
            var header = document.getElementById('question');
            var formData = new FormData();
            formData.append('answers', selected_answers);
            formData.append('question', header.key);

            var Request = new XMLHttpRequest();

            Request.onreadystatechange = function() {
                if (Request.readyState == 4) {
                    if (Request.status == 200) {
                        document.getElementById("question_" + header.key).style.background = "#DCDCDC";
                    }
                }
            }

            Request.open('POST', "{% url 'set_pupil_answers_url' %}", true);
            Request.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            Request.send(formData);
        };

        function getQuestion(){
            var Request = new XMLHttpRequest();

            for(var button of document.getElementsByClassName('question_button')){
                button.classList.remove('question_button_active');
            }

            var button = document.getElementById(this.id);
            button.classList.add('question_button_active');

            Request.onreadystatechange = function() {
                if (Request.readyState == 4) {
                    var newButton = document.createElement('button');
                    newButton.id = 'confirm';
                    newButton.innerHTML = 'Confirm';
                    newButton.disabled = true;
                    newButton.onclick = sendAnswer;

                    var response = JSON.parse(Request.responseText);
                    var content = document.getElementById('content');
                    content.innerHTML = '';
                    var header = document.createElement('h1');
                    header.id = 'question';
                    header.key = response['question'].id;
                    header.innerHTML = response['question'].number + '. ';
                    header.style.color = '#0ABAB5';
                    if (response['question'].text !== null) {
                        header.innerHTML += response['question'].text;
                        content.appendChild(header);
                    }
                    if (response['question'].image !== null) {
                        var img = document.createElement('img');
                        img.src = response['question'].image;
                        img.style.width = '50vw';
                        content.appendChild(img);
                        content.appendChild(document.createElement('br'));
                    }

                    for (var answer of response['answers']) {
                        var label = document.createElement('label');
                        label.setAttribute('for', answer.id);
                        label.innerHTML = '';
                        if (answer.text !== null) {
                            label.classList.add('answers');
                            label.innerHTML += answer.text;
                            label.innerHTML += '<br>';
                        }
                        if (answer.image !== null) {
                            var img = '<img style="width: 10vw" src="' + answer.image + '">';
                            label.innerHTML += img;
                        }

                        var radio = document.createElement('input');
                        if (response['question'].points == 1) {
                            radio.type = 'radio';
                        } else {
                            radio.type = 'checkbox';
                        }
                        radio.id = answer.id;
                        radio.name = 'exam_answers';
                        radio.value = answer.id;
                        radio.addEventListener('change', function() {
                            document.getElementById('confirm').disabled = false;
                        })

                        content.appendChild(radio);
                        content.appendChild(label);
                        content.appendChild(document.createElement('br'));
                    }

                    content.appendChild(document.createElement('br'));
                    content.appendChild(newButton);
                }
            }

            var url = "{% url 'get_exam_question_url' %}?pk=" + this.value;
            Request.open('get', url, true);
            Request.send(null);
        };

        function getQuestions(header_id){
            var header = document.getElementById(header_id);

            for (var nav_link of document.getElementsByClassName('nav-link')){
                nav_link.classList.remove('active');
            }

            header.classList.add('active');

            var Request = new XMLHttpRequest();

            Request.onreadystatechange = function() {
                if (Request.readyState == 4) {
                    var response = JSON.parse(Request.responseText);
                    var rightSideBar = document.getElementById('right_questions_bar');
                    rightSideBar.innerHTML = '';
                    for (var i = 0; i < response['questions'].length; i++) {
                        var newButton = document.createElement('button');
                        newButton.id = 'question_' + response['questions'][i].id;
                        newButton.classList.add('question_button');
                        newButton.value = response['questions'][i].id;
                        newButton.innerHTML = response['questions'][i].number;
                        newButton.onclick = getQuestion;

                        if (response['is_solved'][i] == true) {
                            newButton.style.background = "#DCDCDC";
                        }

                        rightSideBar.appendChild(newButton);
                    }
                }
            }

            var url = "{% url 'question_by_subject_url' %}?subject_id=" + header_id;
            Request.open('get', url, true);
            Request.send(null);
        };

        window.onload = (event) => {
            var countDownDate = new Date('{{ ends_at|date:'M j, o H:i:s' }}').getTime();

            var x = setInterval(function() {
                var now = new Date().getTime();
                var distance = countDownDate - now;

                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                document.getElementById("timer").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";

                if (distance < 0) {
                    clearInterval(x);
                    document.getElementById("demo").innerHTML = "EXPIRED";
                }
            }, 1000);
        }
    </script>
</body>
</html>