{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div style="font-size: 18px;">
        {% for result_by_group in results_by_groups %}
            {% for group, user_results in result_by_group.items %}
                <h1 style="margin-top: 5px;">{{ group }}</h1>
                {% for user_result in user_results %}
                    {% with user_result|first as first_result %}
                    <div class="pupil_result">
                        <h2 align="left" onclick="changeHiddenDiv({{ first_result.user.id }})" style="padding-left: 10px; cursor: pointer; color: white;">{{ first_result.user }}</h2>
                    </div>
                    <div id="{{ first_result.user.id }}" style="display: none;">
                        {% for result in user_result %}
                            <h3>
                                {{ result.starts_at|date:'Y-m-d H:i' }} - {{ result.points }} {% trans 'points' %}
                                <button class="btn" onclick="location.href='{% url 'exam_result_url' result.id %}'">{% trans 'Check' %}</button>
                            </h3>
                        {% endfor %}
                    </div>
                    {% endwith %}
                {% endfor %}
                <hr>
            {% endfor %}
        {% endfor %}
    </div>
    <script>
        function changeHiddenDiv(div_id){
            var div = document.getElementById(div_id);
            if (div.style.display == 'none'){
                div.style.display = 'block';
            }
            else {
                div.style.display = 'none'
            }
        }
    </script>
{% endblock content %}