{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    {% autoescape off %}
    <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <div align="center">
        <form action="{% url 'question_update_url' question.pk %}" method="post" enctype="multipart/form-data" onkeydown="return event.key != 'Enter';">
            {% csrf_token %}

            <input type="hidden" value="{{ answer_count }}" id="answers_count" name="answers_count">

            <label for="question_number">{% trans 'Input Number:' %}</label>
            <input value="{{ question.number }}" type="number" id="question_number" name="question_number" min="1" max="50" style="width: 2.5%" required>
            <br>

            <label for="question_points">{% trans 'Input Points:' %}</label>
            <select id="question_points" name="question_points">
                {% for point in points %}
                    {% if point == question.points %}
                        <option style="width: auto;" value="{{ point }}" selected>{{ point }}</option>
                    {% else %}
                        <option style="width: auto;" value="{{ point }}">{{ point }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>

            <label for="subject">{% trans 'Select Subjects:' %}</label>
            <select id="subject" name="subject">
                {% for subject in subjects %}
                    {% if subject == question.subject %}
                        <option style="width: auto;" value="{{ subject.id }}" selected>{{ subject.name }}</option>
                    {% else %}
                        <option style="width: auto;" value="{{ subject.id }}">{{ subject.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>

            <label for="question_editor">{% trans 'Question Text:' %}</label>
            <br>
            <div data-tiny-editor id="question_editor">
                <p>
                    {{ question.text }}
                </p>
            </div>
            <input type="hidden" id="question_text" name="question_text">
            <br>

            <label for="question_image">{% trans 'Question Image:' %}</label>
            <input type="file" id="question_image" name="question_image">
            <br>
            <hr>
            <div id="answers_div">
                {% for answer in answers %}
                    <div class="answer_div" style="border-radius: 10px; display: inline-block; min-width: 100%; margin-bottom: 10px; font-size: 18px; background: rgb(220, 220, 220);">
                        <input type="hidden" value="{{ answer.answer.id }}" id="answer_id_{{ answer.number }}" name="answer_id_{{ answer.number }}">
                        <label for="answer_text_{{ answer.number }}">{% trans 'Answer Text' %} {{ answer.number }}: </label>
                        <div data-tiny-editor id="answer_editor_{{ answer.number }}" class="answer_editor">
                            {{ answer.answer.text }}
                        </div>
                        <input type="hidden" class="answer_input" id="answer_text_{{ answer.number }}" name="answer_text_{{ answer.number }}">
                        <br>
                        <label for="answer_image_{{ answer.number }}">{% trans 'Answer Image' %} {{ answer.number }}: </label>
                        <input type="file" id="answer_image_{{ answer.number }}" name="answer_image_{{ answer.number }}">
                        <br>
                        <label for="is_correct_answer_{{ answer.number }}">{% trans 'is_correct:' %} </label>
                        {% if answer.answer.is_correct %}
                            <input checked type="checkbox" id="is_correct_answer_{{ answer.number }}" name="is_correct_answer_{{ answer.number }}">
                        {% else %}
                            <input type="checkbox" id="is_correct_answer_{{ answer.number }}" name="is_correct_answer_{{ answer.number }}">
                        {% endif %}
                        <br>
                    </div>
                {% endfor %}
            </div>
            <br>
            <button class="btn" type="button" onclick="addNewAnswer()">{% trans 'Add New Answer' %}</button>
            <br>
            <hr>
            <input class="btn" type="submit" onclick="addText()" value="{% trans 'Update Question' %}" style="font-size: 200%">
        </form>
        <form action="{% url 'question_delete_url' question.pk %}" method="post">
            {% csrf_token %}
            <input class="delete-btn" onclick="return confirm('{% trans 'Are you sure?' %}')" type="submit" value="{% trans 'Delete Question' %}" style="font-size: 150%">
        </form>
    </div>
    <script>
        var i = {{ answer_count }};

        function addText() {
            document.getElementById('question_text').value = document.getElementById('question_editor').innerHTML;
            var editors = document.querySelectorAll('[id*="answer_text"]');
            var inputs = document.getElementsByClassName('answer_input');
            for (var i = 0; i < editors.length; i++) {
                inputs[i].value = editors[i].innerHTML;
            }
        }

        function addNewAnswer() {
            var main_div = document.getElementById('answers_div');

            var div = document.createElement('div');
            div.style.borderRadius = "10px";
            div.style.display = "inline-block";
            div.style.minWidth = "100%";
            div.style.marginBottom = "10px";
            div.style.fontSize = '18px';
            div.style.background = '#DCDCDC';
            div.classList.add('answer_div');

            var label = document.createElement('label');
            label.innerHTML = 'Answer Text ' + i + ': ';
            label.htmlFor = "{% trans 'answer_text' %}" + i;
            div.appendChild(label);

            var editor = document.createElement('div');
            editor.setAttribute('data-tiny-editor', '');
            editor.classList.add('answer_editor');
            editor.id = 'answer_text_' + i;
            editor.name = 'answer_text_' + i;
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'answer_text_' + i;
            input.classList.add('answer_input');
            div.appendChild(input);
            div.appendChild(editor);

            for (var toolbar of document.getElementsByClassName('__toolbar')) {
                toolbar.remove();
            };

            for (var bundle of document.getElementsByClassName('bundle')) {
                bundle.remove();
            };

            var body = document.getElementsByTagName('body')[0];
            var script = document.createElement('script');
            script.classList.add('bundle');
            script.src = "{% static 'js/bundle.js' %}";
            body.appendChild(script);

            div.appendChild(document.createElement('br'));

            var label = document.createElement('label');
            label.innerHTML = "{% trans 'Answer Image' %} " + i + ': ';
            label.htmlFor = 'answer_image_' + i;
            div.appendChild(label);

            var input = document.createElement('input');
            input.type = 'file';
            input.id = 'answer_image_' + i;
            input.name = 'answer_image_' + i;
            div.appendChild(input);

            div.appendChild(document.createElement('br'));

            var label = document.createElement('label');
            label.innerHTML = "{% trans 'is_correct:' %} ";
            label.htmlFor = 'is_correct_answer_' + i;
            div.appendChild(label);

            var input = document.createElement('input');
            input.type = 'checkbox';
            input.id = 'is_correct_answer_' + i;
            input.name = 'is_correct_answer_' + i;
            div.appendChild(input);

            div.appendChild(document.createElement('br'));

            main_div.appendChild(document.createElement('br'));
            main_div.appendChild(div);

            i++;
            document.getElementById('answers_count').value = i;

            for (var answer_div of document.getElementsByClassName('answer_div')) {
                for (var toolbar of answer_div.getElementsByClassName('__toolbar')) {
                    toolbar.remove();
                }
            }
        }
    </script>
    {% endautoescape %}
{% endblock content %}