{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <form id="form" class="form" action="{% url 'questions_update_url' %}" method="post">
        {% csrf_token %}
        <p>
            <label style="font-size: 20px;" for="group">{% trans 'Select Class:' %}</label>
            <select id="group" name="group" onchange="getVariants()">
                <option disabled selected>----</option>
                <option value="4">4</option>
                <option value="9">9</option>
            </select>
        </p>

        <p>
            <label style="font-size: 20px;" for="variant">{% trans 'Select Variant:' %}</label>
            <select id="variant" name="variant" disabled="disabled">

            </select>
        </p>
        <p>
            <label style="font-size: 20px;" for="subject">{% trans 'Select Subject:' %}</label>
            <select id="subject" name="subject">
                {% for subject in subjects %}
                    <option style="font-size: 20px;" value="{{ subject.pk }}">{{ subject.name }}</option>
                {% endfor %}
            </select>
        </p>
    </form>
    <input form="form" class="btn" type="submit" value="{% trans 'Search Questions' %}">
    <script>
        function getVariants(){
            var group = document.getElementById('group').value;
            var Request = new XMLHttpRequest();

            Request.onreadystatechange = function() {
                if (Request.readyState == 4) {
                    if (Request.status == 200) {
                        var response = JSON.parse(Request.responseText);
                        var select = document.getElementById('variant');
                        select.innerHTML = '';
                        select.disabled = '';
                        for (var variant of response['variants']) {
                            var option = document.createElement('option');
                            option.style.fontSize = '20px';
                            option.value = variant.id;
                            option.innerHTML = variant.name + ' - ' + variant.language;
                            select.appendChild(option);
                        }
                    }
                }
            }

            var url = "{% url 'get_variants_url' %}?group=" + group;
            Request.open('get', url, true);
            Request.send(null);
        }
    </script>
{% endblock content %}