{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div id="content" class="content" align="left">

    </div>
    <script>
        window.onload = getQuestion();

        function getQuestion(){
            var Request = new XMLHttpRequest();

            Request.onreadystatechange = function() {
                if (Request.readyState == 4) {
                    var newButton = document.createElement('button');
                    newButton.id = 'confirm';
                    newButton.innerHTML = "{% trans 'Confirm' %}";
                    newButton.classList.add("btn");
                    newButton.disabled = true;

                    var response = JSON.parse(Request.responseText);
                    var content = document.getElementById('content');
                    content.innerHTML = '';

                    var number = document.createElement('h2');
                    number.style.fontFamily = 'Calibri';
                    number.innerHTML = '№ ' + response['question'].number;
                    number.align = 'center';
                    content.appendChild(number);

                    var header = document.createElement('p');
                    header.style.fontSize = '20px';
                    header.id = 'question';
                    header.key = response['question'].id;
                    header.style.fontFamily = 'calibri';
                    header.style.color = 'black';

                    if (response['question'].text !== null) {
                        header.innerHTML += response['question'].text;
                        content.appendChild(header);
                    }
                    else {
                        header.innerHTML += ' ';
                        content.appendChild(header);
                    }

                    if (response['question'].image !== null) {
                        var img = document.createElement('img');
                        img.src = response['question'].image;
                        img.style.width = '50vw';
                        content.appendChild(img);
                        content.appendChild(document.createElement('br'));
                    }

                    for (var answer of response['answers']) {
                        var label = document.createElement('label');
                        label.setAttribute('for', answer.id);
                        label.style.fontFamily = 'Calibri';
                        label.style.fontSize = '18px';
                        label.innerHTML = '';
                        if (answer.text !== null) {
                            label.classList.add('answers');
                            label.innerHTML += answer.text;
                            if (label.getElementsByTagName('p').length > 0) {
                                var answer_text = label.getElementsByTagName('p')[0].innerHTML;
                                label.innerHTML = answer_text;
                            }
                        }
                        if (answer.image !== null) {
                            var img = '<img style="height: 25px;" src="' + answer.image + '">';
                            label.innerHTML += img;
                        }

                        var radio = document.createElement('input');
                        if (response['question'].points == 1) {
                            radio.type = 'radio';
                        } else {
                            radio.type = 'checkbox';
                        }
                        radio.id = answer.id;
                        if (response['pupil_answer'] != null) {
                            if(response['pupil_answer'].answers.includes(answer.id)){
                                radio.checked = true;
                            };
                        };
                        radio.name = 'exam_answers';
                        radio.value = answer.id;
                        radio.addEventListener('change', function() {
                            for (var elem of document.getElementsByName('exam_answers')) {
                                if (elem.checked){
                                    document.getElementById('confirm').disabled = false;
                                    break;
                                }
                                else {
                                    document.getElementById('confirm').disabled = true;
                                }
                            }
                        })

                        var answers_div = document.createElement('div');
                        answers_div.align = 'left';

                        answers_div.appendChild(radio);
                        answers_div.appendChild(label);
                        answers_div.appendChild(document.createElement('br'));
                        content.appendChild(answers_div);
                    }

                    content.appendChild(document.createElement('br'));
                    content.appendChild(newButton);
                    content.appendChild(document.createElement('hr'));

                    var update_button = document.createElement('button');
                    update_button.innerHTML = "{% trans 'Change Question' %}";
                    update_button.classList.add('btn');
                    update_button.onclick = function() {
                        window.location="{% url 'question_update_url' question_id %}";
                    }
                    content.appendChild(update_button);

                    content.appendChild(document.createElement('br'));
                    content.appendChild(document.createElement('br'));

                    var save_button = document.createElement('button');
                    save_button.innerHTML = "{% trans 'Save Question' %}";
                    save_button.classList.add('btn');
                    save_button.onclick = function() {
                        window.location="{% url 'add_questions_url' %}";
                    }
                    content.appendChild(save_button);

                    content.appendChild(document.createElement('br'));
                    content.appendChild(document.createElement('br'));

                    var delete_button = document.createElement('button');
                    delete_button.innerHTML = "{% trans 'Remove Question' %}";
                    delete_button.classList.add('delete-btn');
                    delete_button.onclick = function() {
                        window.location="{% url 'question_delete_url' question_id %}";
                    }
                    content.appendChild(delete_button);
                }
            }
            var url = "{% url 'get_exam_question_url' %}?pk=" + '{{ question_id }}';
            Request.open('get', url, true);
            Request.send(null);
        };
    </script>
{% endblock content %}