{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div align="center" style="font-size: 18px;">
        <form id="group-form" class="form" action="{% url 'set_exam_for_groups_url' %}" method="post">
            {% csrf_token %}
            <p>
                <label for="group">{% trans 'Select Group:' %} </label>
                <select id="group" name="group" onchange="updateDuration()">
                    <option disabled selected>----</option>
                    {% for group in groups %}
                        <option value="{{ group.id }}">{{ group.number }}{{ group.literal }}</option>
                    {% endfor %}
                </select>
            </p>

            <p>
                <label for="start_time">{% trans 'Start Time:' %} </label>
                <input type="datetime-local" id="start_time" name="start_time" required>
            </p>

            <p>
                <label for="duration">{% trans 'Duration (minutes):' %} </label>
                <input type="number" id="duration" name="duration" style="width:30%" required>
            </p>
            <div id="hidden-variants" hidden="hidden">
                    {% for variant in vars_kz %}
                    <input type="checkbox" id="{{ variant.id }}" value="{{ variant.id }}" name="variants">
                {% endfor %}
                {% for variant in vars_ru %}
                    <input type="checkbox" id="{{ variant.id }}" value="{{ variant.id }}" name="variants">
                {% endfor %}
            </div>
        </form>

        <h2 style="margin-bottom: 0px;">{% trans 'Select Variants:' %}</h2>
        <div id="variants" align="center">
            <h3 style="margin-top: 1px; margin-bottom: 1px;">Kaz:</h3>
            <div id="kaz">

            </div>
            <h3 style="margin-top: 1px; margin-bottom: 1px;">Rus:</h3>
            <div id="rus">

            </div>
        </div>

        <input class="btn" form="group-form" type="submit" value="{% trans 'Set Exam' %}" style="font-size: 120%">

        <hr>
        <table class="groups_exams">
            <tr>
                <th>{% trans 'Group' %}</th>
                <th>{% trans 'Starts at' %}</th>
                <th>{% trans 'Duration' %}</th>
                <th>{% trans 'Ends at' %}</th>
            </tr>
            {% for exam in exam_for_groups %}
                <tr>
                    <td>{{ exam.group }}</td>
                    <td>{{ exam.starts_at|date:'Y-m-d H:i' }}</td>
                    <td>{{ exam.duration }}</td>
                    <td>{{ exam.ends_at|date:'Y-m-d H:i' }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        function updateDuration(){
            var group = document.getElementById('group');
            var number = Array.from(group[group.selectedIndex].text)[0];
            if (number == 4) {
                document.getElementById('duration').value = 75;
            }
            else if (number == 9) {
                document.getElementById('duration').value = 150;
            }
            else {
                document.getElementById('duration').value = 240;
            }
            getVariants();
        };

        function selectVariant(variant_id){
            let thisButton = event.srcElement;
            let input = document.getElementById(variant_id);

            if (input.checked == true){
                input.checked = false;
                thisButton.style.background = '#0ABAB5';
                thisButton.style.color = '';
            }
            else {
                input.checked = true;
                thisButton.style.background = '#DCDCDC';
                thisButton.style.color = '#0ABAB5';
            }
        };

        function getVariants(){
            var number = Array.from(group[group.selectedIndex].text)[0];
            var Request = new XMLHttpRequest();

            Request.onreadystatechange = function() {
                if (Request.readyState == 4) {
                    if (Request.status == 200) {
                        var response = JSON.parse(Request.responseText);
                        for (var variant of response['variants']) {
                            if (variant.language == 'KAZ') {
                                var div = document.getElementById('kaz');
                            }
                            else {
                                var div = document.getElementById('rus');
                            }
                            div.innerHTML = '';
                            var button = document.createElement('button');
                            button.classList.add('question_button');
                            button.style.width = 'auto';
                            button.style.border = 'border: 1px solid #0ABAB5';
                            button.style.borderRadius = '8px';
                            button.innerHTML = variant.name;
                            button.onclick = function() {
                                selectVariant(variant.id);
                            }
                            div.appendChild(button);
                        }
                    }
                }
            }

            var url = "{% url 'get_variants_url' %}?group=" + number;
            Request.open('get', url, true);
            Request.send(null);
        }

        updateDuration();
    </script>
{% endblock content %}