{% extends 'base.html' %}
{% block content %}
    <div align="center">
        <form action="{% url 'set_exam_for_groups_url' %}" method="post">
            {% csrf_token %}

            <label for="group">Select Group: </label>
            <select id="group" name="group">
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.number }}{{ group.literal }}</option>
                {% endfor %}
            </select>
            <br>

            <label for="start_time">Start Time: </label>
            <input type="datetime-local" id="start_time" name="start_time" required>
            <br>

            <label for="duration">Duration (minutes): </label>
            <input type="number" id="duration" name="duration" style="width:3%" required>
            <br>

            <h2 style="margin-bottom: 0px;">Select Variants:</h2>
            <div id="variants">
                <div style="margin-left:10px; margin-right:10px; width:auto;">
                    {% for variant in variants %}
                        <input type="checkbox" id="{{ variant.id }}" value="{{ variant.id }}" name="variants">
                        <label for="{{ variant.id }}">{{ variant.name }}</label>
                        <br>
                    {% endfor %}
                </div>
            </div>
            <br>

            <input type="submit" value="Set Exam" style="font-size: 120%">
        </form>
        <hr>
        <table>
            <tr>
                <th>Group</th>
                <th>Starts at</th>
                <th>Duration</th>
                <th>Ends at</th>
            </tr>
            {% for exam in exam_for_groups %}
                <tr>
                    <td>{{ exam.group }}</td>
                    <td>{{ exam.starts_at|date:'Y-m-d H:i' }}</td>
                    <td>{{ exam.duration }}</td>
                    <td>{{ exam.ends_at|date:'Y-m-d H:i' }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        window.onload = (event) => {
            let div = document.getElementById('variants');
            div.style.border = "1px solid black";
            div.style.borderRadius = "10px";
            div.style.display = "inline-block";w
            div.style.marginBottom = "10px";
            div.style.boxShadow = "10px 5px 5px grey";
        }
    </script>
{% endblock content %}